.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
    height: 60px;
    border-bottom: 5px solid rgba(194, 138, 17, 0.877);
    border-top: 5px solid rgba(194, 138, 17, 0.877);
}
.justify-content-between{
    margin-top: 5px;
}
button {

    background: transparent;
    margin-left: 10px;
}
.logout {
    padding-left: 60%;
}
.mat-icon{
    text-align: center;
    vertical-align: middle;
}
h2{
    color: #717d8f ;
    font-size: 2rem bold;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 60px;
}

