
<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
      <mat-nav-list>
        <div class="logo py-4">
          <img src="./assets/logo.png" alt="School Logo" />
        </div>
        <mat-divider></mat-divider>
        <br/>
      
        <h2 matSubheader class="mt-2">Menu</h2>
       
      
        <a mat-list-item routerLinkActive="list-item-active" routerLink="home">
          <mat-icon>home</mat-icon> Gestion Utilisateurs
        </a>
        
        <a mat-list-item routerLink="emplois"> <mat-icon>calendar_today</mat-icon> Gestion Emplois</a>
        <a mat-list-item routerLink="cours"> <mat-icon>book</mat-icon> Gestion Cours </a>
        <a mat-list-item routerLink="epreuves"> <mat-icon>assignment</mat-icon> Gestion Epreuves/Notes </a>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <h4><mat-icon>copyright</mat-icon>Copyrights Iheb, Rakia</h4>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <div class="container-fluid page">
          <router-outlet></router-outlet>
        </div>
     
    </mat-drawer-content>
</mat-drawer-container>